ul {
  margin: 0;
  padding: 0;
}

.h-screen {
  height: 100vh;
}

.px-150 {
  margin: 0 200px;
}

.header-text {
  font-size: 20px;
  line-height: 28px;
}

.list-decoration-none {
  list-style: none;
}

.bg-header {
  background: url('../img/bg-header-desktop.png') no-repeat;
  background-size: cover;
  border-radius: 0 0 0 80px;
  border: none;
  width: 100%;
}