* {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

button:hover {
  animation-name: button_moving;
  animation-duration: 0.2s;
  animation-iteration-count: 4;
}

@keyframes button_moving {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}

/* poppins-regular - latin */

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'), url('../fonts/poppins-v15-latin-r    woff') format('woff');

  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-700 - latin */

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../fonts/poppins-v15-latin-700.woff2') format('woff2'), url('../fonts/poppins-v15-latin-7    ') format('woff');

  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-500 - latin */

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('../fonts/poppins-v15-latin-500.woff2') format('woff2'), url('../fonts/poppins-v15-latin-5    ') format('woff');

  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  background-color: #f7f7f9;
  font-family: Poppins, sans-serif;
}

a {
  text-decoration: none;
  color: #344563;
  transition: color 0.5s ease-in-out;
}

a:hover {
  color: #6070ff;
}

a:focus {
  color: #2230d2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input::placeholder,
textarea::placeholder {
  font-size: 15px;
  color: #b3bac5;
}

input,
textarea {
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

/* general items */

.pointer {
  cursor: pointer;
}

.bg-white-button {
  background: white;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #396df2;
  transition: color 0.5s ease-in-out, background 0.8s ease-in-out;
  cursor: pointer;
  user-select: none;
}

.bg-white-button:hover {
  background: #6070ff;
  color: white;
}

.bg-white-button:focus {
  background: #2230d2;
  color: white;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.social-contact-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-top: 12px;
  margin-bottom: 14px;
}

.social-icon-item {
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  color: #505f79;
}

.social-icon-item:hover {
  color: #2230d2;
}

.social-list {
  display: inline-flex;
}

/* end general items */

/* nav */

nav {
  height: 48px;
  background: white;
  padding: 0 24px;
}

.nav-items {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  display: none;
  padding-right: 32px;
}

.nav-item:last-of-type {
  padding-right: 0;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav-text {
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  animation: rotate-360 3s 1 ease-in-out;
}

@keyframes rotate-360 {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

.nav-button {
  background: transparent;
  border: none !important;
  font-size: 0;
  color: #6070ff;
  transition: color 0.5s ease-in-out;
}

.nav-button:hover {
  color: #2230d2;
}

/* end nav */

/* header */

.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
  height: calc(100vh - 48px);
}

.header-title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
  margin-bottom: 12px;
}

.bg-header {
  background: url('../img/bg-header.png') no-repeat center, white;
  background-size: cover;
  border-radius: 0 0 0 80px;
  border: none;
  width: 100%;
}

.header-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
}

/* end header */

/* work */

.work {
  padding: 114px 24px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100%);
  grid-gap: 88px;
  justify-content: center;
}

.work-item {
  background: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
}

.work-item-image {
  transition: transform 1s ease-in-out;
}

.work-item-image:hover {
  transform: scale(1.07, 1.09);
}

.project-name {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  padding: 12px 0;
}

.work-header-items {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.work-header-item-one {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.work-header-item-round {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 9999px;
  align-self: center;
}

.work-header-item-margin {
  margin-right: 12px;
}

.work-pharagraph {
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 12px;
}

.work-tags {
  display: flex;
}

.work-tag {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  margin-right: 8px;
  margin-bottom: 24px;
}

/* end work */

/* about myself */

.about {
  background: white;
  border: none;
  border-radius: 0 80px 0 0;
  padding: 114px 24px;
}

.about-title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 12px;
}

.about-p {
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.about-social a {
  margin-bottom: 26px;
}

.about-social ul > li {
  padding-right: 10px;
}

.about-list-wrapper {
  margin-top: 4px;
}

.about-list-item {
  display: flex;
  flex-direction: column;
}

.list-header-wrapper {
  display: flex;
  align-items: end;
  justify-content: space-between;
  border-bottom: #dfe1e6 1px solid;
  padding: 24px 40px 24px 12px;
}

.list-header-wrapper-active {
  border-bottom: none;
}

.list-header-span {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: black;
}

.tabs-button {
  background: none;
}

.tabs-items {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.tabs-item {
  display: flex;
  width: 100%;
  background: #f7f7f9;
  border-radius: 8px;
  align-items: center;
  margin-bottom: 12px;
}

.tabs-item-icon {
  padding: 9px 16px 9.72px 12px;
}

.tabs-item-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* end about */

/* contact  */

.contact {
  background-color: white;
}

.contact-container {
  background: url('../img/bg-footer.png') no-repeat, #6070ff;
  background-position: top 25px right;
  padding: 103px 4vh 103px 4vh;
  border-radius: 80px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-bottom: 12px;
}

.contact-header p {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-bottom: 40px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-element {
  margin-bottom: 20px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 38px 15px 16px;
  background: white;
}

.form-element > textarea {
  resize: none;
}

.form-input {
  border: none;
  width: 100%;
}

.form-input:focus {
  outline: none;
}

/* end contact  */

@media only screen and (max-width: 290px) {
  .work-tags {
    flex-direction: column;
    align-items: flex-start;
  }

  .work-tag {
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 334px) {
  .work-header-items {
    flex-direction: column;
  }

  .work-header-item-round {
    display: none;
  }

  .work-header-items p {
    padding-bottom: 8px;
  }

  .work-item-image {
    max-width: 100%;
  }
}

@media only screen and (min-width: 375px) {
  .bg-header {
    background: url('../img/bg-header.png') no-repeat, white;
    background-size: cover;
    border-radius: 0 0 0 80px;
    border: none;
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  /* nav */
  nav {
    height: 72px;
    padding: 0 10%;
  }

  .nav-button {
    display: none;
  }

  .nav-item {
    display: block;
  }

  /* end nav */

  /* header */
  .bg-header {
    background: url('../img/bg-header-desktop.png') no-repeat center, white;
    background-size: cover;
    background-position: top 50px right;
  }

  .header-wrapper {
    padding: 0 18%;
  }

  .header-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
  }

  .header-text {
    font-size: 20px;
    line-height: 28px;
  }

  /* end header */

  /* work */
  .work-item h3 {
    font-size: 40px;
    line-height: 52px;
  }

  .work-header-items {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #7a869a;
  }

  .work-header-item-one {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }

  .work-header-item-margin {
    margin-right: 12px;
  }

  .work-pharagraph {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
  }

  /* endwork */

  /* contact */
  .contact-container {
    background: url('../img/bg-footer-desktop.png') center no-repeat, #6070ff;
    background-size: contain;
  }

  .contact-header {
    width: 70%;
  }

  /* endcontact */
  @media only screen and (min-width: 992px) {
    /* work */
    .work {
      padding: 7.8% 9.8%;
    }

    .work-item {
      display: flex;
      flex-direction: row;
    }

    .reverse {
      display: flex;
      flex-direction: row-reverse;
    }

    .work-item-image {
      width: 100%;
      margin-right: 46px;
    }

    .reverse-image {
      margin-right: 0;
      margin-left: 46px;
    }

    .work-content {
      width: 100%;
    }

    /* endwork */

    /* about */
    .about {
      display: flex;
      padding: 9.8% 9.8%;
    }

    .about-myself-wrapper {
      width: calc(45% - 25px);
    }

    .about-list-wrapper {
      width: 55%;
    }

    .about-list-item {
      padding-left: 25px;
    }

    .tabs-items {
      flex-direction: row;
      padding: 0;
    }

    .tabs-item {
      display: flex;
      flex-direction: column;
      width: 122px;
      height: 120px;
      align-items: flex-start;
      justify-content: flex-start;
      margin-right: 12px;
    }

    .tabs-item-icon {
      padding: 12px 0 0 12px;
    }

    .tabs-item-text {
      padding: 12px;
    }

    /* endabout */

    /* contact  */
    .contact-container {
      padding: 10% 0;
    }

    .contact-header {
      width: 45%;
    }

    .form {
      width: 35%;
    }

    .form-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .form-element-button {
      display: flex;
      justify-content: center;
    }

    /* end contact  */
  }
}
